.header {  
    height: 5vh; 
    position: relative;
    background-color:  $ddarkcyan; 
    
    
    background-image: url('../images/bg-header-desktop.svg'); 
    background-size: cover; 

    padding: 5%; 

    &__filters {  
        position: relative; 
        top: 10vh; 
        text-align: center; 
        padding: 2%; 
        background-color: $ftLightGrayishCyan;
        border-radius: 0.7em;
    }
}