.jobs {
    background-color: lightcyan;
    
   padding: 5%; 

   &__row {
       display: flex;
       background-color: $ftLightGrayishCyan;
       border-radius: 1em;
       margin-bottom: 2%;

       flex-direction: row;
       flex-wrap: nowrap;
       align-content: center;
       -webkit-align-items: flex-start;
       -ms-flex-align: start;
       align-items: flex-start;
   }
}