.jobs {
    background-color: lightcyan;
    padding: 5%; 
   

   @media (min-width: 55em)  {  
    
   }

   &__row {
       display: flex;
       flex-direction: column;
       background-color: $bgLightGrayishCyan;
       border-radius: 1px;
       margin-top: 5em; 
       margin-bottom: 5em; 
       
       //flex-wrap: nowrap;
       align-content: center;
       align-items: center;
       box-shadow: 2px 5px 10px $ddarkcyan;
       
       @media (min-width: 55em)  {        
            flex-direction: row;
            margin-top: 0; 
            margin-bottom: 2%; 
        
       }
       
      
       &__featured {
        border-left: 5px solid $ddarkcyan;
       }
       &__img {  
           padding-left: 2%; 
            padding-right: 2%; 
            margin-top: -3em;
            text-align: left;
            width: 90%;

            @media (min-width: 55em)  { 
                width: 15%;    
                margin-top: 0;
            }
        }
       &__h { width: 90%;


            @media (min-width: 55em)  {
                //min-width: 50%;
            }
            h1 {
                font-size: 1.2em;
                color: $ddarkcyan;

                
            }

            h2 {
                font-size: 1.6em;
                color: $vdarkGrayishCyan;

                &:hover {
                    color: $ddarkcyan;
                    cursor: pointer;
                }
            }
            &__new {
                color: white;
                background-color: $ddarkcyan;
                font-size: 0.5em;
                border-radius: 1em;
                padding: 0.5em;
            }
            &__featured {
                color: white;
                background-color: $vdarkGrayishCyan;
                font-size: 0.5em;
                border-radius: 1em;
                padding: 0.5em;
            }

            &__posted {
                color: $darkGrayishCyan;
                
                span {
                    padding-left: 1em;
                    padding-right: 1em;
                }
            }
        }
       &__lang { 
            width: 90%;
            padding-top: 5%;
            padding-bottom: 5%;
            position: relative; 
            margin-left: 5%;
            border-top: 1px solid $vdarkGrayishCyan;
            margin-right: 5%;
           
         
           
           @media (min-width: 55em)  {
                //width: 35%;
                padding: 2%;
                border-top: 0px solid $vdarkGrayishCyan;

                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                  
                  }
            }

            &__filter {
             
               a { 
                   
                background-color: lightcyan;
                color: $ddarkcyan;
                border-radius: 0.3em;
                padding: 0.5em;
                
 
                &:hover {
                 background-color:$ddarkcyan;
                 color: lightcyan;
                 border-radius: 0.3em;
                 padding: 0.5em;
                }

                
                }

               
           }

           &__main {
            padding-right: 0.5em;
           }
           &__tools {
            padding-right: 0.5em;
           }
           
        }
   }
}